.left{
    display: inline-block;
    /* border: 2px solid blue; */
    position: absolute;
    left: 34px;
    top: 20px;
}
.mid{
    display: block;
    width: 33%;
    margin: 12px auto;
    top: 20px;
    /* border: 2px solid rgb(199, 53, 73); */
}
.right{
    position: absolute;
    right: 34px;
    top: 20px;
    /* border: 2px solid #bbda31; */
}
.navbar{
    display: inline-block;
}
.navbar li{
    color: white;
    display: inline-block;
    font-size: 20px;
}
.navbar li a{
    color: white;
    text-decoration: none;
    padding: 10px;
}
.navbar li a:hover, .navbar li a.active{
    background-color: gray;
    font-size: 20px;
    text-decoration: underline;
    padding: 10px;
}
.left img{
    width: 136px;
}
.left div{
    text-align: center;
}
.btn{
    margin: 0px 9px;
    background-color: black;
    color: white;
    padding: 4px 14px;
    border: 2px solid gray;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}
.btn:hover{
    background-color: gray;
    font-size: 25px;
}
.container{
    border: 2px solid white;
    margin: 160px 405px;
    padding: 20px 96px;
    width: 50%;
    border-radius: 220px;
}
.form-group input{
    text-align: center;
    display: block;
    width: 500px;
    padding: 6px;
    border: 2px solid black;
    margin: 12px auto;
    border-radius: 40px;
    font-size: 18px;
}
.container h1{
    text-align: center;
    background-color: black;
    padding: 25px;
}
.container button{
    display: block;
    width: 23%;
    margin: auto;
}
